<form action="/food_recipes/<%= @recipe.id%>/comments/<%= @comment.id %>" method="PUT" data-remote="true" id="edit_comment">
	<input type="text" value="<%= @comment.content%>" autofocus="true" name="comment[content]" id="comment_content">
</form>