<div class="container">
		<div class="row text-center" id="bar">
			<div class="col-xs-12">
				<p>Admin Control Panel</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3" id="sidenav">
				<%= link_to 'Categories', admin_categories_path%>
				<%= link_to 'Recipes', admin_food_recipes_path%>
				<a href="about">About</a>
				<a href="/">My Site</a>
			</div>
			<div class="col-xs-9">
				
			</div>
		</div>
	</div>