<head>
	<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<div class="sidenav">
	<%= link_to 'Categories', admin_categories_path%>
	<%= link_to 'Recipes', admin_food_recipes_path%>
	<a data-toggle="collapse" data-target="#links">My Site</a>
	<ul id="links" class="collapse">
		<li><a href="/" target="_blank">home</a></li>
		<li><a href="/categories" target="_blank">categories</a></li>
		<li><a href="food_recipes" target="_blank">recipes</a></li>
		<li><a href="about" target="_blank">about</a></li>
		<li><a href="secrets" target="_blank">kitchen secrets</a></li>
	</ul>
</div>