<div class="panel panel-default">
  <div class="panel-body">
    <button class="btn btn-default"><%= link_to 'categories', categories_path%></button>
    <button class="btn btn-default"><%= link_to 'recipes', food_recipes_path%></button>
    <button class="btn btn-default">
    	<a href="about">About</a>
    </button>
  </div>
</div>