@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*side navbar */
#sidebar {
    height: 100%; /* 100% Full-height */
    position: fixed;
    top:78px;
    left: 0;
    width:250px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}
#sidebar #home{padding:0px 14px;color:#fff;font-size:18px}
#sidebar #home a{color:#fff}
#sidebar ul li a{
font-size:16px;display:block;color:#fff;border-bottom:2px solid #111;
transition:all 0.3s;
}
#sidebar ul li a:hover{border-bottom-color:#fff}
#sidebar a,#sidebara:hover{text-decoration:none}
#sidebar span{
	padding:8px 40px;
    font-size: 18px;
    color: #fff;
    cursor:pointer;
}
#sidebar span:hover{color:#e6ac00}
#sidebar .fa-chevron-right{
color:#fff;padding-top:8px;position:absolute;left:200px
}
#sidebar .menu{padding:4px;cursor:pointer}
#sidebar ul{list-style-type:none;padding:0px}
#sidebar ul li{padding:8px 60px}
/**** navigation bar ****/
#navbar{padding:12px 0px;border-bottom:1px solid #bfbfbf;background-color:#fff}
#navbar #logo{font-size:30px;font-family:'Bad Script';margin-top:6px}
#navbar img{max-width:20%;border-radius:50%}
#navbar .navbar-nav{margin-top:6px}
#navbar .dropdown{width:200px;cursor:pointer}
#navbar ul .icon{
height:40px;border-right:1px solid #bfbfbf;margin-top:8px;
padding-right:15px;font-size:140%
}
#navbar .fa-bell-o{margin-right:16px}
#navbar .fa-bars{cursor:pointer;margin-left:8px}
#navbar .dropdown-menu li{padding:6px 15px}
#navbar .dropdown-menu .li{border-bottom:1px solid #bfbfbf}
#navbar .dropdown-menu li:hover{background-color:#ffe699}
#navbar .dropdown-menu{padding:0px;margin-right:20px} /*remove padding to change background-color of each li*/

/**** responsive stie *****/
@media(max-width:768px){
    #sidebar{display:none}
    #navbar #logo{font-size:24px}
}
/**** index ****/
.wrapper{margin-left:300px;margin-top:30px;}
#title{color:#e6ac00;margin-bottom:50px;font-size:22px
}
#form-wrapper{
border:1px solid #bfbfbf;padding:25px;border-radius:8px;width:600px;
font-size:18px;
}
#form-wrapper input[type=text]{width:400px;margin-bottom:20px}
#form-wrapper .btn{
border:1px solid #8080ff;background-color:#8080ff;font-size:16px;
padding:4px 18px;margin-left:30px;color:#fff;width:160px;
margin-bottom:10px
}
body{background-color:#f2f2f2}
