@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
/*side navbar */
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width:250px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}
.sidenav #home{padding:0px 14px;color:#fff;font-size:18px}
.sidenav #home a{color:#fff}
.sidenav ul{
    list-style-type:none;background-color:#e6ffe6;padding-top:8px;
    border:1px solid #606060;
}
.sidenav ul li a{
color:#202020;font-size:16px;display:block;margin-bottom:8px;
}
.sidenav a,.sidenav a:hover{text-decoration:none}
.sidenav span{
	padding:8px 40px;
    font-size: 18px;
    color: #fff;
    cursor:pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav span:hover{
    color:#00e600;
}
.sidenav .fa-chevron-right{
color:#fff;padding-top:8px;position:absolute;left:200px
}
.sidenav .menu{padding:4px;cursor:pointer}
