@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{background-image:url('background1.jpg');color:#fff}
#upper-nav #user{padding-top:50px;text-align:right}
#settings{margin-left:230px}
#upper-nav a{color:#29293d}
#upper-nav span{color:#fff;font-size:40px;font-family:'Quicksand'}
img{display: inline-block;margin-top: 15px;}
#logo{padding-top:20px}
/*lower nav */
#lower-nav{
border-top:1px solid #808080;
border-bottom:1px solid #808080;border-radius:0;
}
#lower-nav .nav li a{
font-size:16px;letter-spacing:1px;color:#ffffe6;margin-right:10px;
border-bottom:3px solid #fff;transition:all 0.3s;
}
#lower-nav .nav li a:hover{
background-color:#ffffe6;border-bottom-color:#ffcc00;color:#202020
}
#lower-nav .dropdown-menu li a{
color:#202020;cursor:pointer
}
.dropdown:hover .dropdown-menu {
display: block;
}
#lower-nav .navbar-toggle{
border-color:#29293d;background-color:#29293d;color:#fff
}
#lower-nav .navbar-toggle:hover{
color:#29293d;border-color:#29293d;background-color:#fff
}
/*footer*/
footer{
margin-top:100px;bottom:0;border-top:1px dotted #808080;
padding:8px;font-family:sans;font-size:14px;}
/* header */
#first-row{
height:550px;background-image:url('recipe.jpg');
background-size:cover;padding:150px 300px;color:#303030
}
#first-row h1{font-size:60px;}
#first-row h1+p{font-size:20px}
#first-row .fa{cursor:pointer}
#text{
border:1px solid #bfbfbf;background-color:#fff;opacity:0.8;
text-align:center
}

header .heading{margin-bottom:20px;margin-top:80px}
header .box{border:1px solid #808080;height:200px;}
/***** site ****/
.catRecipes-container{;margin-top:40px;position:relative}
.image {
  opacity: 1;
  max-width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  max-width:100%;height:190px
}
.middle {
  opacity: 0;transition: .3s ease;position:absolute;
  top:30%;left:30%;
}
.item:hover .image {
  opacity: 0.3;
}
.item:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;color: white;
  font-size: 16px;padding: 10px 32px;cursor:pointer;
}
.text, .text:hover{text-decoration:none;color:#fff}
.recipe-container{margin-top:40px}
.recipe-container img{max-width:100%}
.container .fa-cog{cursor:pointer}

/**** profile ***/
.profile header{margin-top:50px;padding-left:100px;
font-size:18px
}
.profile span{font-size:30px}
.profile #gear{font-size:30px}
.profile input[type=submit]{
background-color:#ff944d;color:#fff;border:1px solid #ff944d
}
.profile #text{margin-top:20px}
.profile hr{border-color:#bfbfbf}
.profile .fa{cursor:pointer}
.profile input{padding-left:10px}
nav .notice{color:#47d147;margin-top:30px;font-size:16px;
animation:notice 3s forwards;opacity:1
}
@keyframes notice{
  0%{opacity:1}
  100%{opacity:0}
}