@import "bootstrap-sprockets";
@import "bootstrap";
h1{
font-size:60px;color:#29293d;
font-family:'Eagle Lake';margin-left:8px;
}
#user a{
	margin-right:10px;color:#29293d;
}
.custom-header{
	margin-top:100px;border-radius:0;padding:6px;
	background-color:#d1d1e0;
	border:1px dotted #29293d;
}
#logo img{max-width:4%;position:absolute;top:40px;left:235px;}
.custom-header .nav li a{
	font-size:16px;letter-spacing:1px;
}
.custom-header .nav li a:hover{
	background-color:#29293d;color:#fff;
}
.custom-header .dropdown-menu li a{
	color:#202020
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/*footer*/
footer{
	margin-top:200px;bottom:0;border:1px dotted #808080;
	padding:8px;font-family:sans;font-size:14px;
}