@import "bootstrap-sprockets";
@import "bootstrap";
body{background-color:#111}
.devise-wrapper span{font-size:50px;}
.devise-wrapper{
	margin-top:80px;color:#fff;
}
.devise-wrapper .input{
	width:300px;height:40px;border-radius:8px;
	margin-bottom:20px;background-color:#666666;color:#fff;
	font-size:16px;padding-left:10px;border:none
}
.devise-wrapper .submit{background-color:#ff9900;font-weight:700}
#title{margin-bottom:20px;}