<div class="row">
	<div class="col-xs-3 box text-center">
		<p>Total Users</p>
		<hr>
		<p class="num"><%= User.all.length-1 %></p>
	</div>
	<div class="col-xs-3 box text-center">
		<p>Total Comments</p>
		<hr>
		<p class="num">4</p>
	</div>
</div>