<header>
	<div class="row" id="first-row">
		<div class="col-xs-8">
			<%= image_tag('spices.jpg') %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h4 class="heading">RECENTLY ADDED</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h4 class="heading">MOST POPULAR</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
		<div class="col-sm-3 box"></div>
	</div>
	
</header>
